@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
.my-hero {
	animation-name: p-1;
	animation-timeline: scroll();
	animation-timing-function: linear;
}

@keyframes p-1 {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-2000px);
	}
} */